.clock{
    margin-top: 170px;
    border: 20px solid #000;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: relative;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
    padding: 3rem;
}
.clock-face{
    height: 100%;
    width: 100%;
    transform: translateY(-3px);
}
.hour-bar,.minute-bar,.second-bar{
    height: 6px;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    width: 50%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}
.hour-bar{
    background-color: #000;
    transform: rotate(9deg);
}
.minute-bar{
    background-color: #b90f0f;
}
.second-bar{
    background-color: cadetblue;
}